.body{
  display: flex;
   .body-main {
    box-shadow: 0 10px 50px #e5e5e5;
    & .products {
      text-align: center;
      margin: 10px auto;
      width: 240px;
      & .product-image{
        margin-bottom: 20px;
        & img {
          width: 100px;
        }
      }
      & .details{
        box-shadow: 0 10px 50px #eee;
        margin-bottom: 20px;
      }
    }
  }  
}
.heading{
  font-weight: 600;
}
